<% provide(:title, @user.name) %>

<div class="row">
    <section class="user_info">
       <hr>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <hr>
    </section>



      <% if @user.items.any? %>
      <ol class="items">
      <%= render @items %>
      </ol>
      <% end %>
</div>