<% provide(:title, 'Please wait!') %>
<div style="background-color: #28C8ED; padding:2px;border: 1px solid gray;border-radius: 25px; margin-top:30px">
<h1>Please wait..</h1>
<center><h3>while we are generating your invoice</h3></center>
</div>