<% provide(:title, 'All books') %>

<h5>All books</h5>
<div class="row">
<div class="col-md-3">
      <% Category.all.each do |category| %>
      <li class="catdisplay">
      <%= link_to category.name ,category %>
      </li>
      <% end %>
</div>    
    
    
<div class="col-md-9" style="border-left: 1px solid silver;">
<ol class="items">
<% if @item.count == 0 %>
<h3>No books have been posted yet</h3>
<% else %>
<%= render @item %>
<% end %>
</ol>
</div>
</div>