<% provide(:title, 'Post a book') %>
<% provide(:button_text, 'Post') %>
<h5>What book do you want to sell</h5>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div style="background-color: #eaeaea; padding:15px;   width: 100%;">
    <%= render 'form' %>
    </div>
  </div>
</div>