<% provide(:title, 'All categories') %>
<h5>All categories</h5>

<%= will_paginate %>
<div style="width: 50%">
    
<ul class="users">
    <%= render @categories %>
</ul>
</div>
<%= will_paginate %>
<br></br>
<%= link_to "New category", new_category_path, class: "btn btn-lg btn-primary" %>